
h1{
    text-align: center;
}

body, #container {
    min-height: 100vh;
}
.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4em 1em;
}

.flexcontainer div{
    width: 430px;
    height: 200px;
    margin: 5px;
    border: 2px solid black;
    font-size:15px; text-align: center; color: black;
    padding-top: 1.3em;
    position: relative;
    background-color: gray;

}
#c1{
    padding-top: 70px;

}
#c2{
    padding-top: 70px;

}
#c3{
    padding-top: 70px;

}




#container1{
    padding: 20px;
    width: 120px;
    height: 7px;
    position: absolute;
    margin-left: 206px;
    background-color: rgb(214, 91, 91);
    top: -7px;
    right: -7px;
    

}

#container2{
    padding: 20px;
    width: 120px;
    height: 7px;
    position: absolute;
    margin-left: 206px;
    background-color: rgb(32, 69, 36);
    top: -7px;
    right: -7px;
    

}

#container3{
    padding: 20px;
    width: 120px;
    height: 7px;
    position: absolute;
    margin-left: 206px;
    background-color: rgb(51, 33, 97);
    top: -7px;
    right: -7px;

}

section{
    padding-right: 60px;
    margin-top: -5px;
    font-size: large;
    color: white;

}


/*Large devices only */
@media (min-width: 992px){
    .c1.c2.c3{
        width: 100%;
    }
}


@media (min-width: 768px) and (max-width: 991px){
    .c1.c2{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}


@media (min-width: 767) {
    .c1.c2.c3{
        width: min-content;
    }
}
